
<input type="text" placeholder="Count" id="count" class="form-control" />
<button id="ajax-button" class="btn btn-primary">Get People</button>

<ul id="people"></ul>

<input type="text" placeholder="Enter Text" id="text" class="form-control" />
<button id="reverse" class="btn btn-primary">Reverse Text</button>

<div id="output"></div>

@section scripts {
    <script src="/js/index.js"></script>
}